.container-001{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url(../Media//images/image09.jpg);
    background-position: center;
    background-size: cover;
    background-color: black;
}
